<!DOCTYPE html>
<html lang="en" ng-app="coinmachine">
    <head>
        <meta charset="UTF-8">
        <title>CoinMachine</title>

        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Bootstrap style sheets -->
        <link type="text/css" rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">

        <!-- Kendo UI style sheets -->
        <link type="text/css" rel="stylesheet" href="styles/kendo.common.min.css">
        <link type="text/css" rel="stylesheet" href="styles/kendo.default.min.css">
        <link type="text/css" rel="stylesheet" href="styles/kendo.default.mobile.min.css" />

        <!-- Application style sheets -->
        <link type="text/css" rel="stylesheet" href="styles/index.css">
    </head>
    <body ng-controller="mainController" ng-cloak>
        <!-- Main template example -->

        <!-- Bootstrap template example  -->
        <div class="container">
            <h1>Hello World!</h1>
            <div class="row">
                <div class="col-sm-6" style="background-color:yellow;">
                    <p>Lorem ipsum...</p>
                </div>
                <div class="col-sm-6" style="background-color:pink;">
                    <p>Sed ut perspiciatis...</p>
                </div>
            </div>
        </div>

        <!-- Kendo UI template example -->
        <!--<button type="button" id="printGrid" class="k-button k-primary" icon="'funnel-clear'" ng-click="onClick($event)">Get Markets</button>-->
        <kendo-button class="k-primary" icon="'funnel-clear'" ng-click="onClick($event)">Get Markets</kendo-button>
        <label>Birthday: <input kendo-date-picker /></label>
        <input kendo-numerictextbox k-min="1" k-max="10" k-up-arrow-text="'Increment'" k-down-arrow-text="'Decrement'"/>
        <div kendo-grid="gridProducts" options="mainGridOptions"></div>
        <!--<kendo-grid options="mainGridOptions"></kendo-grid>-->

        <!-- Jquery Kendo UI dependencies -->
        <script type="text/javascript" src="vendor/jquery.min.js"></script>

        <!-- Angular dependencies-->
        <script type="text/javascript" src="bower_components/angular/angular.min.js"></script>
        <script type="text/javascript" src="bower_components/angular-animate/angular-animate.min.js"></script>
        <script type="text/javascript" src="bower_components/angular-aria/angular-aria.min.js"></script>
        <script type="text/javascript" src="bower_components/angular-messages/angular-messages.min.js"></script>
        <script type="text/javascript" src="bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
        <script type="text/javascript" src="bower_components/angular-resource/angular-resource.min.js"></script>

        <!-- Bootstrap dependencies -->
        <script type="text/javascript" src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

        <!-- Telerik Kendo UI dependencies-->
        <script type="text/javascript" src="vendor/kendo.all.min.js"></script>
        <script type="text/javascript" src="vendor/jszip.min.js"></script>

        <!-- Load socket.io client client from server -->
        <script src="/socket.io/socket.io.js"></script>

        <!-- Application services package -->
        <script type="text/javascript" src="app/js/lb-services.js"></script>

        <!-- Application Main package -->
        <script src="app/js/index.js"></script>
    </body>
</html>
