<!DOCTYPE html>
<html lang="en" ng-app="coinmachine">
    <head>
        <meta charset="UTF-8">
        <title>Coin Machine</title>

        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Bootstrap style sheets -->
        <!--<link type="text/css" rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">-->

        <!-- Google material style sheets -->
        <link type="text/css" rel="stylesheet" href="bower_components/angular-material/angular-material.min.css">

        <!-- Kendo UI style sheets -->
        <link type="text/css" rel="stylesheet" href="styles/kendo.common.min.css">
        <link type="text/css" rel="stylesheet" href="styles/kendo.default.min.css">

        <!-- AnyChart style sheets -->
        <link type="text/css" rel="stylesheet" href="styles/anychart-ui.min.css">

        <!-- Application style sheets -->
        <link type="text/css" rel="stylesheet" href="styles/index.css">
    </head>
    <body>
        <div layout="column" layout-fill ng-controller="mainController" ng-cloak>
            <main id="market-main" layout-padding flex>
                <div id="market-filter" layout="row" layout-padding>
                    <select kendo-drop-down-list="comboboxMarketInterval" placeholder="Select time interval..." style="padding-left: 0; width: 280px; background-color: transparent">
                        <option>Última sesión - Tick a tick</option>
                        <option>Últimas 8 sesiones - 1 Minuto</option>
                        <option>Últimos 3 meses - 5 Minutos</option>
                        <option>Últimos 3 meses - 15 Minutos</option>
                        <option>Últimos 3 meses - 30 Minutos</option>
                        <option>Últimos 3 meses - 1 Hora</option>
                        <option>Últimos 5 años - Diario</option>
                        <option>Últimos 5 años - Semanal</option>
                        <option>Últimos 5 años - Mensual</option>
                        <option>Últimos 5 años - Anual</option>
                    </select>

                    <label>
                        Start Date: <input kendo-date-time-picker="datetimepickerMarketStartTime" k-ng-model="startTimestamp"/>
                    </label>

                    <label>
                        Quantity: <input kendo-numerictextbox="numerictextboxMarket" k-min="1" k-max="10" k-up-arrow-text="'Increment'" k-down-arrow-text="'Decrement'" k-ng-model="quantity"/>
                    </label>

                    <span flex></span>

                    <button type="button" kendo-button="printGrid" class="k-primary" style="margin-right: 8px;" ng-click="onGraphClick($event)">Get Graph</button>

                    <button type="button" kendo-button="marketListButton" class="k-primary" icon="'funnel-clear'" style="margin-left: 8px;" ng-click="onMarketClick($event)">Get Markets</button>
                    <!--<kendo-button class="k-primary" icon="'funnel-clear'" ng-click="onMarketClick($event)">Get Markets</kendo-button>-->
                </div>

                <div kendo-tooltip k-options="toolTipOptions" flex>
                    <div id="market-grid" kendo-grid="marketGrid" options="optionsGrid" expand-k-grid></div>
                </div>
            </main>

            <footer id="market-footer">
                <div layout="row" layout-align="center center">
                    <h2>My Fix Footer</h2>
                </div>
            </footer>
        </div>

        <!-- Jquery dependencies -->
        <script type="text/javascript" src="vendor/jquery.min.js"></script>

        <!-- Angular dependencies-->
        <script type="text/javascript" src="bower_components/angular/angular.min.js"></script>
        <script type="text/javascript" src="bower_components/angular-animate/angular-animate.min.js"></script>
        <script type="text/javascript" src="bower_components/angular-aria/angular-aria.min.js"></script>
        <script type="text/javascript" src="bower_components/angular-messages/angular-messages.min.js"></script>
        <script type="text/javascript" src="bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
        <script type="text/javascript" src="bower_components/angular-resource/angular-resource.min.js"></script>

        <!-- Bootstrap dependencies (only for layout) -->
        <!--<script type="text/javascript" src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>-->

        <!-- Google Material dependencies (only for layout) -->
        <script type="text/javascript" src="bower_components/angular-material/angular-material.js"></script>

        <!-- Telerik Kendo UI dependencies-->
        <script type="text/javascript" src="vendor/kendo.all.min.js"></script>
        <script type="text/javascript" src="vendor/jszip.min.js"></script>

        <!-- AnyChart dependencies-->
        <script type="text/javascript" src="vendor/anychart-ui.min.js"></script>
        <script type="text/javascript" src="vendor/anystock.min.js"></script>

        <!-- Load socket.io client client from server -->
        <script src="/socket.io/socket.io.js"></script>

        <!-- Application services package -->
        <script type="text/javascript" src="app/js/lb-services.js"></script>

        <!-- Application Main package -->
        <script src="app/js/index.js"></script>
    </body>
</html>
